*.DS_Store
.idea/
node_modules/
coverage/
dist/
dist-electron/
.vscode/
.cache/
artifacts
.env.development
.env.production
.testcafe-electron-rc
.ltk/log
.yalc/
yalc.lock
npm-debug.log
styleguide/
report.*
